/* TODO: discretion to integrate this css to App.css
for ease lang to in merging */
.page-layout {
    display: flex;
}

.content {
    margin-left: 20vw;
    padding: 2rem;
    min-height: 100vh;
    flex: 1;
    transition: margin-left 0.5s ease;
}

.page-layout.sidebar-hidden .content {
    margin-left: 0;
    max-width: 100vw;
}