/* TODO: discretion to integrate this css to App.css
for ease lang to in merging */
.page-layout {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Press Start 2P', sans-serif;
}

.content-wrapper {
    flex: 1;
    margin-left: 15vw;
    margin-right: auto;
    padding: 2rem;
    transition: margin-left 0.5s ease;
}

.page-layout.sidebar-hidden .content-wrapper {
    margin-left: 0;
}

.page-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #3b2e1b;
    text-align: center;
    width: 100%;
}

.content {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    min-height: calc(100vh - 6rem);
}