/* TODO: discretion to integrate this css to App.css
for ease lang to in merging */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background-color: #4b4b4b;
    padding: 1rem;
    z-index: 1000;
    overflow-y: auto;
    transition: left 0.5s ease;
}

.sidebar.hidden {
    left: -20%;
}

.toggle-button {
    position: fixed;
    left: calc(20% + 20px);
    transition: left 0.5s ease;
}

.sidebar.hidden .toggle-button {
    left: 20px;
}

.sidebar-items {
    list-style: none;
    padding: 0;
    margin-top: 5rem;
}

.sidebar-items li {
    margin-bottom: 1rem;
}

.logout-button {
    margin: auto 1.5rem 1rem;
}

@media (max-width: 768px) {
    .sidebar {
        width: 60%;
    }

    .sidebar.hidden {
        left: -60%;
    }

    .toggle-button {
        position: fixed;
        left: calc(60% + 20px);
        transition: left 0.5s ease;
    }
}